@model PaginatedList<DimensionDataSystem.Models.Survey>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Survey</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                EnvironmentSatisfaction
            </th>
            <th>
                PerformanceRating
            </th>
            <th>
                RelationshipSatisfaction
            </th>
            <th>
                JobSatisfaction
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EnvironmentSatisfaction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PerformanceRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RelationshipSatisfaction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobSatisfaction)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SurveyId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SurveyId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SurveyId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>

</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
