
@{
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
        string[] TabbleHeaders = new string[] {"Age"
          ,"Attrition"
          ,"BusinessTravel"
          ,"DailyRate"
          ,"Department"
          ,"DistanceFromHome"
          ,"Education"
          ,"EducationField"
          ,"EmployeeCount"
          ,"EmployeeNumber"
          ,"EnvironmentSatisfaction"
          ,"Gender"
          ,"HourlyRate"
          ,"JobInvolvement"
          ,"JobLevel"
          ,"JobRole"
          ,"JobSatisfaction"
          ,"MaritalStatus"
          ,"MonthlyIncome"
          ,"MonthlyRate"
          ,"NumCompaniesWorked"
          ,"Over18"
          ,"OverTime"
          ,"PercentSalaryHike"
          ,"PerformanceRating"
          ,"RelationshipSatisfaction"
          ,"StandardHours"
          ,"StockOptionLevel"
          ,"TotalWorkingYears"
          ,"TrainingTimesLastYear"
          ,"WorkLifeBalance"
          ,"YearsAtCompany"
          ,"YearsInCurrentRole"
          ,"YearsSinceLastPromotion"
          ,"YearsWithCurrManager"};
}

<div class="table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @{
                    foreach (var head in TabbleHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>

        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        <tr>
                            <td>@Data.Age</td>
                            <td>@Data.Attrition</td>
                            <td>@Data.BusinessTravel</td>
                            <td>@Data.DailyRate</td>
                            <td>@Data.Department</td>
                            <td>@Data.DistanceFromHome</td>
                            <td>@Data.Education</td>
                            <td>@Data.EducationField</td>
                            <td>@Data.EmployeeCount</td>
                            <td>@Data.EmployeeNumber</td>
                            <td>@Data.EnvironmentSatisfaction</td>
                            <td>@Data.Gender</td>
                            <td>@Data.HourlyRate</td>
                            <td>@Data.JobInvolvement</td>
                            <td>@Data.JobLevel</td>
                            <td>@Data.JobRole</td>
                            <td>@Data.JobSatisfaction</td>
                            <td>@Data.MaritalStatus</td>
                            <td>@Data.MonthlyIncome</td>
                            <td>@Data.MonthlyRate</td>
                            <td>@Data.NumCompaniesWorked</td>
                            <td>@Data.Over18</td>
                            <td>@Data.OverTime</td>
                            <td>@Data.PercentSalaryHike</td>
                            <td>@Data.PerformanceRating</td>
                            <td>@Data.RelationshipSatisfaction</td>
                            <td>@Data.StandardHours</td>
                            <td>@Data.StockOptionLevel</td>
                            <td>@Data.TotalWorkingYears</td>
                            <td>@Data.TrainingTimesLastYear</td>
                            <td>@Data.WorkLifeBalance</td>
                            <td>@Data.YearsAtCompany</td>
                            <td>@Data.YearsInCurrentRole</td>
                            <td>@Data.YearsSinceLastPromotion</td>
                            <td>@Data.YearsWithCurrManager</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>

